<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.Charts.WinForms" version="1.1.0" targetFramework="net481" />
  <package id="Guna.UI2.WinForms" version="2.0.4.8" targetFramework="net481" />
  <package id="Syncfusion.Chart.Base" version="26.1.35" targetFramework="net481" />
  <package id="Syncfusion.Chart.Windows" version="26.1.35" targetFramework="net481" />
  <package id="Syncfusion.Grouping.Base" version="26.1.35" targetFramework="net481" />
  <package id="Syncfusion.Licensing" version="26.1.35" targetFramework="net481" />
  <package id="Syncfusion.Shared.Base" version="26.1.35" targetFramework="net481" />
</packages>